{% extends 'layout.html' %} {% block body %}
<div class="container">
  <div class="form-container">
    <div class="row">
      <h1>Add User</h1>
      {% from "components/_formhelpers.html" import render_field %}
      <form method="POST" action="">
        <div class="form-group">
          {{render_field(form.username, class_="form-control")}}
        </div>
        <label>
          <input type="radio" name="profilepic" value="https://api.dicebear.com/6.x/adventurer/svg?seed=Boo" checked>
          <img class="avatar-radio" width=100px src="https://api.dicebear.com/6.x/adventurer/svg?seed=Boo" alt="Option 1">
        </label>
        <label>
          <input type="radio" name="profilepic" value="https://api.dicebear.com/6.x/adventurer/svg?seed=Sasha" >
          <img class="avatar-radio" width=100px src="https://api.dicebear.com/6.x/adventurer/svg?seed=Sasha" alt="Option 2">
        </label>
        <label>
          <input type="radio" name="profilepic" value="https://api.dicebear.com/6.x/adventurer/svg?seed=Midnight" >
          <img class="avatar-radio" width=100px src="https://api.dicebear.com/6.x/adventurer/svg?seed=Midnight" alt="Option 3">
        </label>
        <label>
          <input type="radio" name="profilepic" value="https://api.dicebear.com/6.x/adventurer/svg?seed=George" >
          <img class="avatar-radio" width=100px src="https://api.dicebear.com/6.x/adventurer/svg?seed=George" alt="Option 4">
        </label>
        <label>
          <input type="radio" name="profilepic" value="https://api.dicebear.com/6.x/adventurer/svg?seed=Gracie" >
          <img class="avatar-radio" width=100px src="https://api.dicebear.com/6.x/adventurer/svg?seed=Gracie" alt="Option 5">
        </label>
        <p>
          <input
            type="submit"
            class="btn btn-primary btn-block"
            value="Submit"
          />
        </p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
