{% extends 'layout.html' %} {% block body %}
<div class="jumbotron-fluid text-center">
  <!-- <h1>Movies for User {{user.id}}</h1> -->
  <!-- <p>A simple example of calling TMDB API and rendering content using Flask</p> -->
  <div>
    <!-- Movies come into this file as a Python dictionary called 'movies'
         below, we are just looping through using the Jinja template language
        and rendering the returned information about each movie from TMDB API -->
    <!-- {% block content %} {% for movie in movies %}
    <h3>{{movie.original_title}}</h3>
    <p>Rating: {{movie.vote_average}}</p>
    <p>{{movie.overview}}</p>
    <img
      class="movie"
      src="http://image.tmdb.org/t/p/w500{{movie.backdrop_path}}"
      width="500" height="auto"
    ></img>
    <br>
    {% endfor %} {% endblock %} -->

    <h1>LISTFLIX</h1>

    <h2>Because you Watched "Top Gun"</h2>

    <div class="row">
      <div class="header">
        <h3 class="title">Title</h3>
        <div class="progress-bar"></div>
      </div>
      <div class="container">
        <button class="handle left-handle">
          <div class="text">&#8249;</div>
        </button>
        <div class="slider">
          <img src="https://via.placeholder.com/210/00FF00?text=1" />
          <img src="https://via.placeholder.com/220/00FF00?text=2" />
          <img src="https://via.placeholder.com/230/00FF00?text=3" />
          <img src="https://via.placeholder.com/240/00FF00?text=4" />
          <img src="https://via.placeholder.com/250/00FF00?text=5" />
          <img src="https://via.placeholder.com/260/00FF00?text=6" />
          <img src="https://via.placeholder.com/270/00FF00?text=7" />
          <img src="https://via.placeholder.com/280/00FF00?text=8" />
          <img src="https://via.placeholder.com/250/00FF00?text=9" />
          <img src="https://via.placeholder.com/260/00FF00?text=10" />
          <img src="https://via.placeholder.com/270/00FF00?text=11" />
          <img src="https://via.placeholder.com/280/00FF00?text=12" />
        </div>
        <button class="handle right-handle">
          <div class="text">&#8250;</div>
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
