{% extends 'layout.html' %} {% block body %}
<div class="jumbotron-fluid text-center">
  <!-- <h1>Recommendations for {{user.id}}</h1> -->
  <div>
    <h1>MY LIBRARY</h1>

    <!-- <h2>Recommended for you, {{user[2]}}</h2> -->
    <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="watched-tab" data-bs-toggle="tab" data-bs-target="#watched" type="button" role="tab" aria-controls="watched" aria-selected="true">Watched</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="hidden-tab" data-bs-toggle="tab" data-bs-target="#hidden" type="button" role="tab" aria-controls="hidden" aria-selected="false">Hidden</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="browse-tab" data-bs-toggle="tab" data-bs-target="#browse" type="button" role="tab" aria-controls="browse" aria-selected="false">Browse</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="watched" role="tabpanel" aria-labelledby="watched-tab">Put Watched stuff in here</div>
        <div class="tab-pane fade" id="hidden" role="tabpanel" aria-labelledby="hidden-tab">Put Hidden stuff in here.</div>
        <div class="tab-pane fade" id="browse" role="tabpanel" aria-labelledby="browse-tab">Put Search/Browse stuff in here</div>
      </div> -->
<!-- 
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">watched</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
      </ul> -->
      <div class="container-fluid">
        <!-- <h2>Dynamic Tabs</h2>
        <p>To make the tabs toggleable, add the data-toggle="tab" attribute to each link. Then add a .tab-pane class with a unique ID for every tab and wrap them inside a div element with class .tab-content.</p>
       -->
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#watched">Watched</a></li>
          <li><a data-toggle="tab" href="#hidden">Hidden</a></li>
          <li><a data-toggle="tab" href="#browse">Browse</a></li>
        </ul>
      
        <div class="tab-content">
          <div id="watched" class="tab-pane fade in active">
            {% block content %} {% for movie in movies %} 
            
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                      <a href="#" class="thumbnail">
                        <img
                        class="movie"
                        src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}"
                      ></img>
                      </a>
                    </div>
                   <h2>{{movie.movie_title}}</h2>
                   <h3>{{movie.overview}}</h3>
                  </div>


                  
        

        
            {% endfor %} {% endblock %}
          </div>
          <div id="hidden" class="tab-pane fade">
            {% block hidden %} {% for hidden_movie in hidden_movies %} 
            
            <div class="row">
                <div class="col-xs-6 col-md-3">
                  <a href="#" class="thumbnail">
                    <img
                    class="movie"
                    src="http://image.tmdb.org/t/p/w500{{hidden_movie.poster_path}}"
                  ></img>
                  </a>
                </div>
               <h2>{{hidden_movie.movie_title}}</h2>
               <h3>{{hidden_movie.overview}}</h3>
            </div>
    
        {% endfor %} {% endblock %}
          </div>
          <div id="browse" class="tab-pane fade">
            <h3>Browsing Movies Coming Soon to Theatres Near You</h3>
            <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p> -->
          </div>
     
        </div>
      </div>
      


  </div>
</div>
{% endblock %}
