<!-- TODO: Somehow set the library path to the currently selected user clicked on in the "Users" page -->

{% extends 'layout.html' %} {% block body %}
<div class="jumbotron-fluid text-center">
  <!-- <h1>Recommendations for {{user.id}}</h1> -->
  <div>
    <h1>MY LIBRARY</h1>

    <!-- <h2>Recommended for you, {{user[2]}}</h2> -->

      <div class="container-fluid">
        <!-- <h2>Dynamic Tabs</h2>
        <p>To make the tabs toggleable, add the data-toggle="tab" attribute to each link. Then add a .tab-pane class with a 
            unique ID for every tab and wrap them inside a div element with class .tab-content.</p>
       -->
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#watched">Watched</a></li>
          <li><a data-toggle="tab" href="#hidden">Hidden</a></li>
          <li><a data-toggle="tab" href="#browse">Browse</a></li>
        </ul>
      
        <!-- Watched Movies tab -->
        <div class="tab-content">
          <div id="watched" class="tab-pane fade in active">
            {% if movies|length < 1%}
            <h3>Looks like you haven't watched any movies yet. Head over to the <em>Browse</em> tab to pick some.</h3>
            {% endif %}
            {% block content %} {% for movie in movies %} 
            
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                      <a href="#" class="thumbnail">
                        <img
                        class="movie"
                        src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}"
                      ></img>
                      </a>
                    </div>
                   <h2>{{movie.movie_title}}</h2>
                   <h3>{{movie.overview}}</h3>
                  </div>
                  {% endfor %} {% endblock %}
                </div>


        <!-- Hidden Movies tab-->
          <div id="hidden" class="tab-pane fade">
            {% if movies|length < 1%}
            <h3>Looks like you haven't hidden any movies yet.</h3>
            {% endif %}
            {% block hidden %} {% for hidden_movie in hidden_movies %} 
            
            <div class="row">
                <div class="col-xs-6 col-md-3">
                  <a href="#" class="thumbnail">
                    <img
                    class="movie"
                    src="http://image.tmdb.org/t/p/w500{{hidden_movie.poster_path}}"
                  ></img>
                  </a>
                </div>
               <h2>{{hidden_movie.movie_title}}</h2>
               <h3>{{hidden_movie.overview}}</h3>
            </div>
    
          {% endfor %} {% endblock %}
          </div>

          <div id="browse" class="tab-pane fade">
            <!-- <h3>Browsing Movies Coming Soon to Theatres Near You</h3> -->
            <form id="search-form" method="post" class="form-inline">
              <span id="helpBlock" class="help-block">Search for new movies to add to your watch list library and spark new recommendations.</span>
              <div class="form-group">
                <input type="text" class="form-control" id="movieSearchInput" placeholder="Movie title, genre, etc..." aria-describedby="helpBlock">
              </div>
              <button type="submit" class="btn btn-default">Search</button>
            </form>   
            
            <div id="search-results">

              <div class="row">
                <!-- <div class="search-result-img col-xs-6 col-md-3">
                  <a href="#" class="thumbnail">
                    <img src="http://image.tmdb.org/t/p/w500/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg" alt="...">
                  </a>
                </div>
                -->
                <!-- Load some movies from IMDB Discover API by default, to be replaced by user search later -->
                {% block discover %} {% for movie in discoverMovies %}
                <div class="search-result-img col-xs-6 col-md-3">
                  <a href="add-movie/{{movie.id}}" class="thumbnail">
                    <img src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="...">
                  </a>
                </div>
                {% endfor %} {% endblock %}

              </div> <!-- row --> 

  
             </div> <!-- search-results --> 
           </div><!-- Browse Tab --> 

     
        </div> <!-- Tab Content -->
      </div>  <!-- Tab Container -->


  </div>
</div>
{% endblock %}
