{% extends 'layout.html' %} {% block body %}
<div class="container">
  <div class="form-container">
    <div class="row">
      <h1>Register</h1>
      {% from "components/_formhelpers.html" import render_field %}
      <form method="POST" action="">
        <div class="form-group">
          {{render_field(form.username, class_="form-control")}}
        </div>
        <label>
          <input
            type="radio"
            name="profilepic"
            value="https://api.dicebear.com/6.x/adventurer/svg?seed=Molly&hair=long10,long12,long13,long18,long19,short05,long05&hairColor=0e0e0e"
            checked
          />
          <img
            class="avatar-radio"
            width="100px"
            src="https://api.dicebear.com/6.x/adventurer/svg?seed=Molly&hair=long10,long12,long13,long18,long19,short05,long05&hairColor=0e0e0e"
            alt="Option 1"
          />
        </label>
        <label>
          <input
            type="radio"
            name="profilepic"
            value="https://api.dicebear.com/6.x/adventurer/svg?seed=Sasha"
          />
          <img
            class="avatar-radio"
            width="100px"
            src="https://api.dicebear.com/6.x/adventurer/svg?seed=Sasha"
            alt="Option 2"
          />
        </label>
        <label>
          <input
            type="radio"
            name="profilepic"
            value="https://api.dicebear.com/6.x/adventurer/svg?seed=Midnight"
          />
          <img
            class="avatar-radio"
            width="100px"
            src="https://api.dicebear.com/6.x/adventurer/svg?seed=Midnight"
            alt="Option 3"
          />
        </label>
        <label>
          <input
            type="radio"
            name="profilepic"
            value="https://api.dicebear.com/6.x/adventurer/svg?seed=Abby"
          />
          <img
            class="avatar-radio"
            width="100px"
            src="https://api.dicebear.com/6.x/adventurer/svg?seed=Abby"
            alt="Option 4"
          />
        </label>
        <label>
          <input
            type="radio"
            name="profilepic"
            value="https://api.dicebear.com/6.x/adventurer/svg?seed=Bailey&hair=long01,long02,long04,long05,long06,long07,long08,long09,long10,long11,long12,long13,long14,long15,long16,long17,long18,long19,long20,long21,long22,long23,long24,long25,long26,short01,short02,short03,short04,short05,short06,short07,short08,short09,short10,short11,short12,short13,short14,short15,short16,short17,short18,short19"
          />
          <img
            class="avatar-radio"
            width="100px"
            src="https://api.dicebear.com/6.x/adventurer/svg?seed=Bailey&hair=long01,long02,long04,long05,long06,long07,long08,long09,long10,long11,long12,long13,long14,long15,long16,long17,long18,long19,long20,long21,long22,long23,long24,long25,long26,short01,short02,short03,short04,short05,short06,short07,short08,short09,short10,short11,short12,short13,short14,short15,short16,short17,short18,short19"
            alt="Option 5"
          />
        </label>
        <div class="form-group">
          {{render_field(form.email, class_="form-control")}}
        </div>
        <div class="form-group">
          {{render_field(form.password, class_="form-control")}}
        </div>
        <div class="form-group">
          {{render_field(form.confirm, class_="form-control")}}
        </div>
        <p>
          <input
            type="submit"
            class="btn btn-primary btn-block"
            value="Submit"
          />
        </p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
