<div class="avatar-container">
  <!-- TODO: make links and profiles dynamic -->
  <a href="/home/1">
    <div class="profile-container">
      <div class="border-outer">
        <div class="border-inner">
          <img
            class="avatar"
            src="../../static/assets/users/1.webp"
            alt="avatar"
          />
        </div>
      </div>
      <p>Tina</p>
    </div>
  </a>

  <a href="/home/2">
    <div class="profile-container">
      <div class="border-outer">
        <div class="border-inner">
          <img
            class="avatar"
            src="../../static/assets/users/2.webp"
            alt="avatar"
          />
        </div>
        <p>Lucy</p>
      </div>
    </div>
  </a>

  <a href="/home/3">
    <div class="profile-container">
      <div class="border-outer">
        <div class="border-inner">
          <img
            class="avatar"
            src="../../static/assets/users/3.webp"
            alt="avatar"
          />
        </div>
        <p>Greg</p>
      </div>
    </div>
  </a>
</div>
